*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    width: 0;
}
@font-face {
    font-family: 'Lexend Deca', sans-serif;
}



body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url("../img/background.png") ;
    background-size: cover ;
}

.container{
    padding: 2% 2% 2% 2%;
    width: 100vw;
    height: 100vh;

}


/* Login */

.login_form{
    width: 500px;
    height: 500px;
    color: white;
    margin-top: 15%;
    margin-left: 35%;
}
    .login_form input{
        color: white;
        font-size: 24px;
        padding: 20px;
        outline: none;
        border: none;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.70);
        width: 680px;
        height: 80px;
        margin-bottom: 3%;
        float: left;
    }
    .login_form button{
        font-family: 'Lexend Deca', sans-serif;
        width: 215px;
        height: 50px;
        font-size: 50px;
        border: none;
        color: white;
        background-color: rgba(0, 0, 0, 0);
        margin-left: 45%;
        cursor: pointer;
        margin-bottom: 5%;
    }
    .login_form a{
        font-family: 'Lexend Deca', sans-serif;
        margin-left: 56%;
        font-size: 18px;
        color: white;
        text-decoration: none;
    }


/*  SignUp  */

.signup_form{
    width: 500px;
    height: 500px;
    color: white;
    margin-top: 10%;
    margin-left: 35%;
}
    .signup_form input{
        font-family: 'Lexend Deca', sans-serif;
        color: white;
        font-size: 24px;
        padding: 20px;
        outline: none;
        border: none;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.70);
        width: 680px;
        height: 80px;
        margin-bottom: 3%;
        float: left;
    }
    .signup_form button{
        font-family: 'Lexend Deca', sans-serif;
        width: 215px;
        height: 50px;
        font-size: 50px;
        border: none;
        color: white;
        background-color: rgba(0, 0, 0, 0);
        margin-left: 45%;
        cursor: pointer;
    }
    .birth{
        background: rgba(0, 0, 0, 0.70);
        color: white;
        padding: 5px;
        font-size: 17px;
        font-family: 'Lexend Deca', sans-serif;
        border: none;
        border-radius: 5px;
        width: 150px;
        height: 50px;
        margin-left: 2%;
        margin-bottom: 3%;
    }
    .helptext{
        display: none;
    }
    .signup_form label{
        display: none;
    }

/*  Main    */
.logo{
    float: left;
}
nav ul {
    float: left;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: right;
    padding: 50px;
    margin-left: 40%;
    position: fixed;
    z-index: 3;
    white-space: nowrap;
}

nav li {
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 45px;

    font-size: 32px;
}


.slider{
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    margin-top: 12%;
}

.now p{
    margin-top: 2%;
    float: left;
    width: 500px;
    eight: 50px;
}
.book_now{
    margin-left: 25%;
    border-radius: 5px;
    float: left;
    width: 360px;
    height: 530px;
    margin-right: 2%;
}

.back{
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 10%;
    float: left;
    width: 225px;
    height: 330px;
}




.catalog{
    font-family: 'Lexend Deca', sans-serif;
}

.search{
    width: auto;
    margin-top: 10%;
}

    .search input {
        padding: 5px;
        border: none;
        border-radius: 10px;
        margin-left: 5px;
        background-color: #FFFFFF1F;
        font-size: 20px;
        width: 300px;
    }
    .search input[type="text"]::placeholder {
        color: white;
    }


.filter{
    float: left;
}

.genre {
    margin-top: 20%;
    color: #fff;
    margin-left: 10px ;

}
    .genre h2{
        margin-top: 5px;
        margin-left: 22%;
    }

.langs {
    margin-top: 20%;
    color: #fff;
}
    .langs h2{
        margin-top: 5px;
        margin-left: 22%;
    }

.catalog a {
    color: #fff;
    text-decoration: none;
}


.booklist {
    overflow: scroll;
    display: inline-block;
    max-width: 1200px;
    height: 650px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.object {
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.object img {
    border-radius: 9px;
    width: auto;
    height: 250px;
}

.object h3 {
    color: white;
    margin-top: 7%;
    font-size: 20px;
    text-align: center;
}

.object p {
    margin-top: 2%;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.object button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.object button:hover {
    background-color: #555;
}

.white-text-input {
    color: white;
    object-position: center;
  }

